.cpt-table {
  width: 100%;
  border: 1px solid black;
  text-align: left;
  border-collapse: collapse;
}

.cpt-table th, .cpt-table td {
  border-collapse: collapse;
  padding: 10px;
  border: 1px solid black;
}

.cpt-table th {
  background-color: #f5f5f5;
}

.text-center {
  text-align: center;
}